.HomeH {
  background: linear-gradient(90deg, rgba(148,39,224,1) 0%, rgba(163,40,233,1) 50%, rgba(182,114,233,1) 100%);
  
}

#App-index-header {
  padding: 5px;
  background: linear-gradient(90deg, rgba(148,39,224,1) 0%, rgba(163,40,233,1) 50%, rgba(182,114,233,1) 100%);
}

#App-book-header {
  padding: 5px;
}

.border {
  border: solid;
}

.flx {
  display: flex;
  flex-wrap:wrap;
}

.flxcenter {
  display: flex;
  align-items:center;
  flex-wrap:wrap;
}


.flxspacebetween {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.b1blu {
  border: 1px solid rgb(13, 79, 186);
}

.verde {
  background-color:rgb(96, 234, 176);
  color: white;
}

.h40 {
  height: 40px
}

.h80 {
  height: 80px
}

.h100 {
  height: 100px
}

.h200 {
  height: 200px
}

.h400 {
  height: 400px
}

.margin5 {
  margin: 5px;
}

.padding3 {
  padding: 3px;
}

.padding5 {
  padding: 5px;
}

.padding15 {
  padding: 15px;
}

.padding20 {
  padding: 20px;
}

.radius5 {
  border-radius: 5px;
}

.t1 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
}
.t2 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
}
.t3 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1;
}
.t4 {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
}
.t5 {
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.maxw135 {
  max-width: 135px
}

.maxw270 {
  max-width: 270px
}

.minw270 {
  min-width: 270px
}

.w100{
  width: 100px
}

.w270 {
  width: 270px
}