.BnExplore {
    display: table;
}

.BnExplore-content {
    display: table-cell;
    vertical-align: middle;
}

.BnExplore-text {
    display:inline-block;
    font-weight:bold;
}

.BnExplore-icon {
    color: black;
}