.BnHome{
    display: table;
}

.BnHome-content{
    display: table-cell;
    vertical-align: middle;    
}

.BnHome-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.BnHome-text {
    color: black;
    font-weight:bold;
    display:inline-block;
    text-decoration:none;
}