.BookBe-M {
    position: absolute;
    top:350px;
    right:0;
    height: 950px;
}

.BookBe-M-button {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  cursor: pointer;
  text-align: center;
  padding: auto;
  margin: auto;
}

.red {
    color: red;
}