.Searchbox {
    color: white;
    font-weight:bold;
    background-color:rgb(227, 232, 239);
    position:relative;
    margin-left: auto;
    float: right;
}

.Searchbox-icon {
    color: rgb(220, 224, 229);
    position: absolute;
    top:50%;
    left:1%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.Searchbox-input {
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 80%;
    height:100%;
    border: none;
    background-color:rgb(227, 232, 239);
    display: inline-block;
}